@media (max-width:825px){
  #section_3 .career{
    flex-direction: column;
    width: 100%;
    align-items: center;
  }
  h1{
    font-size: 1.2em;
    font-weight: bolder;
  }
  #section_3 h3{
    font-size: 16px;
    align-items: center;
  }
  #section_3 .career h4{
    align-items: center;
  }
  #section_3 .career div{
    display: flex !important;
    align-items: center;
  }
  #section_3 .career div p{
    width: 100%;
  }
  #section_3 .career > div{
    width: 70%;
  }
  #section_4 .my_work_1{
    flex-direction: column;
  }
  #section_4 .work_img_1,   #section_4  .work_text{
    width: 100% !important;
  }
  #section_4 .my_work_2{
    flex-direction: column;
  }
  #section_4 .work_img_2, #section_4 .work_text{
    width: 100%;
  }
  #section_4 .my_work_3{
    flex-direction: column;
  }
  #section_4 .work_img_3, #section_4 .work_text{
    width: 100%;
  }
  #section_5 .project_wrapper_1, .project_wrapper_2{
    width: 100% !important;
    flex-direction: column;
  }
  .project_wrapper_1 > div, .project_wrapper_2 > div{
    width: 300px;
  }
  .project_wrapper_1, .project_wrapper_2{
    margin: 0 !important;
  }
  #section_6 .creative_skills{
    flex-direction: column;
    align-items: center;
  }
  #section_6 .creative_skills p{
    margin-bottom: 40px;
    /* width: 100%; */
  }
  #section_6 .creative_skills > div{
    width: 100%;
  }
  #section_7 > section{
    flex-direction: column;
  }
  #section_7 .dream_img_1{
    width: 100%;
  } 
  #section_7 .dream_text{
    width: 100%;
  }
  #section_8{
    flex-direction: column;
    align-items: center;
    display: none;
  } 
  .section_9 .flex_3{
flex-direction: column;

}

#section_1 nav ul{
  margin-top: 15px;
}
#section_2 h3{
  font-size: 20px;
}
#section_2 p{
  width: 70%;
  margin-top: 20px;
}
.fa-bars {
  font-size: 22px;
}

}